server {
    listen 80;
    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name sample.pauli.vm;#origin
    root        /projects/sample/public;
    access_log  /var/log/nginx/sample.pauli.vm.access.log;
    error_log   /var/log/nginx/sample.pauli.vm.error.log;

    include /etc/nginx/config/php8.conf;
}
